@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="Content/app.css" rel="stylesheet" type="text/css"/>

	<title></title>
</head>
<body>
    <div>
		Hello from standart website
    </div>
</body>
</html>
