<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="Content/app.css" rel="stylesheet" type="text/css"/>
	<link href="Content/toastr.css" rel="stylesheet" type="text/css"/>

	

	<title>mini spa</title>
</head>
	<body>
		
		<nav>
			<ul>
				<li>
					<a href="#/list">list</a>
				</li>
				<li>
					<a href="#/detail">detail</a>
				</li>
			</ul>
		</nav>
		
		<div id="content-list">
			<h1>list</h1>
			Hello from content
		</div>
		
		<div id="content-detail">
			<h1>detail</h1>
			Hello from detail
		</div>

		
		
		<script src="Scripts/lib/jquery-1.9.1.js"></script>
		<script src="Scripts/lib/sammy-0.7.4.js"></script>
		@*<script src="Scripts/lib/toastr.js"></script>*@
		<script src="Scripts/app/router.js"></script>

	</body>
</html>
