@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")

	<title>mini spa</title>
</head>
<body>

	<nav id="navigation">
		<ul data-bind="foreach: routes">
			<li>
				<a data-bind="text: title, attr: { href: routePath }"></a>
			</li>
		</ul>
	</nav>

	<div id="content-list">
		<h1>list</h1>
		<ul data-bind="foreach: messages, visible: messages().length > 0">
			<li>
				<div data-bind="css: { read: isRead }">
					<input data-bind="checked: isRead" type="checkbox" />
					<span class="message-subject" data-bind="text: subject"></span>
					<span class="message-body" data-bind="text: body"></span>
				</div>
			</li>
		</ul>
	</div>

	<div id="content-search">
		<div>Search:</div>
		<input data-bind="value: filter, valueUpdate: 'afterkeydown'" />
		<ul data-bind="foreach: messages, visible: messages().length > 0">
			<li>
				<div>
					<span class="message-subject" data-bind="text: subject"></span>
					<span class="message-body" data-bind="text: body"></span>
				</div>
			</li>
		</ul>
	</div>

	@Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs", 
        "~/Scripts/lib/require.js", 
        "~/bundles/jsapplibs",
		"~/Scripts/main.js"
    )

</body>
</html>
