
@import 'variables.less';

.rounded-corners (@radius: 5px) 
{
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.default-link ()
{
	text-decoration: none;
	font-family: @contentFont;
	color: @textColor;
}

.content ()
{
	margin: 5px;
	padding: 5px;
	.rounded-corners(10px);
	border: 1px solid @textColor;
	clear: both;
}

#content-list 
{
	.content;
}

#content-search
{
	.content;
}

.read
{
    text-decoration:line-through;
}

.message-body
{
    font-style:italic;
}

.message-subject
{
    font-weight: bold;
    text-transform: uppercase;
}

body
{
	font-family: @contentFont; 
	background: @background;
	color: @textColor;
}

h1, h2, h3, h4, h5
{
	font-family: @headingFont;
	padding:0;
	margin:0;
}

a 
{
	.default-link;
}


nav 
{
	ul 
	{
		display: block;
		list-style:none;
		padding: 5px;
		margin: 5px;

		li
		{
			display: inline;
			
			a 
			{
				.rounded-corners;
				.default-link;
				display: block;
				padding: 5px;
				margin: 2px;
				min-width: 100px;
				background: @accentColor;
				color: white;

				@media screen and (min-width : 400px) { float: left; }
				
				&:hover 
				{ 
					background: darken(@accentColor, 20%); 
					color: @background;
				}

			}

		}
	}
	
}

